.login-containter{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
img{
    height: 100px;
}
.login-containter form{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}
.login-containter form input{
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 48px; 
    padding:  0 20px;
    font-size: 16px;
    color: #666;
}
.login-containter form input::placeholder{
    color: #999;
}

.login-containter form button{
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    height: 48px;
    font-size: 16px;
    background: #df4723;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}